.social-media > a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border: 0.15rem solid var(--main-color);
  border-radius: 50%;
  font-size: 1rem;
  color: var(--main-color);
  transition: 0.5s ease;
}

.social-media > a:hover {
  background: var(--main-color);
  color: var(--second-bg-color) !important;
  box-shadow: 0 0 1 rem var(--main-color);
  transition: 0.5s ease;
}
