@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", "sans-serif";
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

.body {
  margin: 0;
  place-items: center;
  background: var(--bg-color);
  color: var(--text-color);
}

h6 {
  font-size: 2rem !important;
  font-weight: 500 !important;
  line-height: 1.1rem !important;
}

h4 {
  font-size: 2.4rem !important;
  font-weight: 600 !important;
  line-height: 1.1 !important;
}

h3 {
  font-size: 3.3rem !important;
  font-weight: 600 !important;
  line-height: 1.2rem !important;
}

h2 {
  font-size: 4.2rem !important;
  font-weight: 700 !important;
  line-height: 1.3 !important;
}

p {
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  line-height: 1.3 !important;
}

span {
  color: var(--main-color);
}

.button {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 500;
  transition: 0.5s ease;
}
.button:hover {
  box-shadow: none;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  font-weight: 500 !important;
  color: var(--main-color) !important;
  text-decoration: none !important;
}